* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

.ant-card .ant-card-body {
  padding: 0 !important;
}

.ant-input-lg,
.ant-select-single.ant-select-lg .ant-select-selector {
  font-size: 14px;
}

.ant-select-multiple.ant-select-lg {
  font-size: 14px;
}

:where(
    .css-dev-only-do-not-override-1vgzsdt
  ).ant-select-single.ant-select-lg:not(.ant-select-customize-input)
  .ant-select-selector {
  height: 2.3rem;
}

.ant-list .ant-list-item {
  padding: 8px 0;
}

.ant-list .ant-list-header,
.ant-list .ant-list-footer {
  padding-block: 4px;
}

.ant-divider-horizontal {
  margin: auto 0;
}

.ant-list .ant-list-empty-text {
  padding: 0;
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  padding: 4px;
  box-shadow: none;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
  padding: 0;
}

.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border: none;
}

.ant-modal-content {
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

.ant-modal-header {
  border-radius: 16px 16px 0 0;
  padding: 0 24px 24px 16px;
}

.ant-modal-body {
  padding: 0;
}

.ant-modal-footer {
  border-radius: 0 0 16px 16px;
  padding: 0;
}

.ant-input-affix-wrapper:focus-within {
  box-shadow: none;
  border-color: none;
}
